<div class="jumbotron">
    <div class="container nopadding">
        <div class="row">
            <div class="col-md-9">
                <div class="search_widget" id="search-widget">
                    <form>
                        <div class="row">
                        <div class="col-md-9">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">Go</span>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select id="searchIndustry" class="form-control">
                                        <option value="-1">Experience</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select id="searchIndustry" class="form-control">
                                        <option value="-1">Industry</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select id="searchFucntion" class="form-control">
                                        <option value="-1">Function</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select id="searchLocation" class="form-control">
                                        <option value="-1">Location</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-block">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="searchimage">
                    <div class="row">
                        <div class="col-xs-12">
                            
                        </div>
                    </div>
                </div>
                <div class="wayworks">
                    <h2>HOW IT WORKS</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, ased diam nonumy eirmod tempor invidunt ut labore et adolore magna aliquyam erat, sed diam voluptua. At avero eos et accusam et justo duo dolores et ea rebum. aStet clita kasd gubergren, no sea takimata sanctus est aLorem ipsum dolor sit amet. Lorem ipsum dolor sit aamet, consetetur sadipscing elitr, sed diam nonumy aeirmod tempor invidunt ut labore et dolore magna aaliquyam erat, sed diam voluptua. At vero eos et aaccusam et justo duo dolores et ea rebum. Stet clita akasd gubergren, no sea takimata sanctus est Lorem aipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="recentposts" id="recentPosts">                    
                </div>
            </div>            
        </div>
        <h2 class="text-center">partners</h2>
        <div class="row">
            <div class="col-md-2">
                <div class="partners_content"></div>
            </div>
            <div class="col-md-2">
                <div class="partners_content"></div>
            </div>
            <div class="col-md-2">
                <div class="partners_content"></div>
            </div>
            <div class="col-md-2">
                <div class="partners_content"></div>
            </div>
            <div class="col-md-2">
                <div class="partners_content"></div>
            </div>
            <div class="col-md-2">
                <div class="partners_content"></div>
            </div>
        </div>
    </div>
</div>